<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>

<body ng-app="pokedex">

    <div class="container">
        <h1>Pokésir</h1>

        <!-- Search -->
        <div ng-controller="pokeCtrl">
            <input ng-model="id">
            <p>{{pokes[id]}}</p>
            <input ng-model="searchText" type="text">
            <select ng-model="pokemonSelected">
                <option ng-repeat="poke in pokes | filter:name=searchText">{{poke.name}}</option>
            </select>
            <button ng-click="getPokemonByName(pokemonSelected)">Ok !</button>
        </div>

        <!-- Pokémon information -->
        <div ng-controller="pokeInfo">
            <img src="{{pokemon.sprites.front_default}}"/>
            <p>{{pokemon.name}}</p>
            <table class="table table-striped">
                <tr ng-repeat="move in pokemon.moves">
                    <td>{{move.move.name}}</td>
                </tr>
            </table>
        </div>

    </div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>

</html>