<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>

<body ng-app="pokedex">

    <div class="container">
        <h1>Pokésir</h1>

        <!-- Search -->
        <div ng-controller="pokeCtrl">
            <input ng-model="id">
            <p>{{pokes[id]}}</p>
            <input ng-model="searchText" type="text">
            <select ng-model="pokemonSelected">
                <option ng-repeat="poke in pokes | filter:name=searchText">{{poke.name}}</option>
            </select>
            <button ng-click="getPokemonByName(pokemonSelected)">Ok !</button>
        </div>

        <!-- Pokémon information -->
        <div ng-controller="pokeInfo">
            <div ng-if="pokemon.id != undefined" class="container">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{pokemon.name}}</div>
                        <div class="panel-body">
                            <img class="thumbnail" style="display: inline-block" src="{{pokemon.sprites.front_default}}" />
                            <table class="table table-striped">
                                <tr>
                                    <td>N°</td>
                                    <td>{{pokemon.id}}</td>
                                </tr>
                                <tr>
                                    <td>Type(s)</td>
                                    <td>
                                        <span ng-repeat="type in pokemon.types">{{type.type.name}} </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Height</td>
                                    <td>{{pokemon.height/10}}m</td>
                                </tr>
                                <tr>
                                    <td>Weight</td>
                                    <td>{{pokemon.weight}}kg</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <tr ng-repeat="move in pokemon.moves">
                    <td>{{move.move.name}}</td>
                </tr>
            </table>
        </div>
    </div>

    </div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>

</body>

</html>